* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html, body {
  height: 100%;
}
body {
  background-color: #f6f7f9;
  transition: background-color 0.2s ease-in-out;
  &.dark {
    background-color: #17181a;
  }
}

a {
  text-decoration: none;
}

.page-content-container {
  padding: 12px 20px;
}

.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}

.w-90pc {
  width: 90% !important;
}
.w-95pc {
  width: 95% !important;
}
.w-600 {
  width: 600px !important;
}
.w-260 {
  width: 260px !important;
}
.w-200 {
  width: 200px !important;
}
.w-180 {
  width: 180px !important;
}
.w-170 {
  width: 170px !important;
}
.w-135 {
  width: 135px !important;
}
.w-120 {
  width: 120px !important;
}
.w-100 {
  width: 100px !important;
}
.w-90 {
  width: 90px !important;
}

.brand-color {
  color: #409EFF;
}
.success-color {
  color: #13ce66;
}
.warning-color {
  color: #E6A23C;
}
.danger-color {
  color: #F56C6C;
}
.info-color {
  color: #909399;
}
.normal-info-color {
  color: #606266;
}
.deep-info-color {
  color: #303133;
}

.old-lace {
  background-color: rgba(253, 245, 230, 0.4);
}
.yellow {
  background-color: rgba(255, 255, 0, 0.2);
}
.light-green {
  background-color: rgba(144, 238, 144, 0.4);
}
.light-sky-blue {
  background-color: rgba(135, 206, 250, 0.4);
}
.violet {
  background-color: rgba(238, 130, 238, 0.4);
}
.deep-pink {
  background-color: rgba(255, 20, 147, 0.4);
}

.jk-highlight {
  .jkhl.color-brewer {
    display: block;
    padding: 24px 36px;
    font-size: 12px;
    line-height: 1.8;
    color: #000;
    background-color: #fafafa;
    overflow-x: auto;
    span {
      font-family: Menlo, Monaco, Consolas, Courier, monospace;
    }
    .jkhl-subst {
      color: #000;
    }
    .jkhl-tag,
    .jkhl-name,
    .jkhl-attr,
    .jkhl-keyword,
    .jkhl-built_in,
    .jkhl-doctag,
    .jkhl-section,
    .jkhl-selector-class,
    .jkhl-selector-id,
    .jkhl-selector-tag,
    .jkhl-strong,
    .jkhl-title,
    .jkhl-type {
      color: #3182bd;
    }
    .jkhl-string,
    .jkhl-addition,
    .jkhl-meta,
    .jkhl-symbol,
    .jkhl-template-tag,
    .jkhl-template-variable {
      color: #756bb1;
    }
    .jkhl-attribute {
      color: #e6550d;
    }
    .jkhl-number,
    .jkhl-bullet,
    .jkhl-link,
    .jkhl-literal,
    .jkhl-regexp {
      color: #31a354;
    }
    .jkhl-comment,
    .jkhl-quote {
      color: #636363;
    }
    .jkhl-deletion,
    .jkhl-variable {
      color: #88f;
    }
    .jkhl-emphasis {
      font-style: italic;
    }
  }
}
